<ng-template #content let-c="close" let-d="dismiss">
  <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <div class="modal-header">
      <div class="d-flex flex-row justify-content-between my-flex-container" style="width: 100%;">

        <div class="my-flex-item float-left">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" routerLink="/modal">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="my-flex-item mr-auto ml-auto">
          <div class="title">
            Preferences
          </div>
        </div>
        <div class="my-flex-item float-right">
          <div class="mt-2">
            <button type="submit" class="btn btn-primary float-right ml-2 hidden-md-up">Apply</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-3 hidden-md-down">
          <app-nav-left></app-nav-left>
        </div>
        <div class="col-md-9 float-left ml-0">
          <div class="mt-52 hidden-md-down">
            <router-outlet></router-outlet>
          </div>
          <div class="hidden-md-up">
            <div class="form-row">
              <app-general [form]="form"></app-general>
            </div>
            <div class="mt-52">
              <app-notifications [form]="form"></app-notifications>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-faded modal-footer">
      <app-navbar [navform]="navform"></app-navbar>
    </div>
  </form>
</ng-template>

<div class="mx-2 mt-3 fixed-top mw-75">
  <button class="btn btn-outline-success btn-lg" (click)="open(content)">Preference Modal</button>
</div>
