<div class="form-group row">
  <div class="col-md-6">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control " placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
          <img src="assets/img/calendar-icon.svg" class="" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>